@import "../../../assets/styles/colors";

.site-header-container {
  background-color: getColor(site-header-color);
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px -2px getColor(site-header-color);
  .header-tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;

    .header-tab {
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      color: getColor(text-color);

      &.active {
        color: getColor(site-header-active-color);
      }
    }

    .header-tab {
      --b: 0.2em;
      color: #0000;
      padding-block: var(--b);
      background: linear-gradient(
            getColor(site-header-hover-color) 50%,
            getColor(text-color) 0
          )
          0% calc(100% - var(--_p, 0%)) / 100% 200%,
        linear-gradient(getColor(site-header-hover-color) 0 0) 0% var(--_p, 0%) /
          var(--_p, 0%) var(--b) no-repeat;
      -webkit-background-clip: text, padding-box;
      background-clip: text, padding-box;
      transition: 0.3s var(--_s, 0s) linear,
        background-size 0.3s calc(0.3s - var(--_s, 0s));
    }
    .header-tab:hover {
      --_p: 100%;
      --_s: 0.3s;
    }
  }

  .header-actions-container {
    .mode-icon-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        cursor: pointer;
        color: getColor(text-color);
        font-size: 20px;
      }

      i:hover {
        color: getColor(site-header-hover-color);
      }
    }

    .profile-img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;

      .css-shadow {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 3px solid getColor(text-color);
        filter: drop-shadow(0 0 8px getColor(text-color));
        object-fit: cover;
      }

      .profile-name {
        font-size: 18px;
        cursor: pointer;
        color: getColor(text-color);
        font-weight: bold;
      }

      .profile-name:hover {
        color: getColor(site-header-hover-color);
      }
    }
  }

  .header-social-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    i {
      cursor: pointer;
      color: getColor(text-color);
      font-size: 18px;
    }

    i:hover {
      color: getColor(site-header-hover-color);
    }
  }
}
